html,
body {
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-family: sans-serif;
}

#templates {
    display: none;
}

.main{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-content: strech;
}

.status {
    height: 50px;
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
	height: calc(100vh - 100px);
	overflow: auto;
}

.msg-list{
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	align-content: strech;
}

.msg{
	font-size: 1.25rem;
	padding: 15px 20px;
}

.msg:nth-child(odd){
	background-color: #bbb;
}

.msg__user:empty{
 display: none;
}

.msg__text{
    margin: 0;
    overflow: auto;
}

.send{
	height: 50px;
	display: flex;
	width: 100%;
}

.send--text{
	flex-grow: 4;
	border: solid #ccc 1px;
	border-radius: 3px;
	padding: 10px 15px;
	font-size: 1.25rem;
	line-height: 20px;
	outline-color: #666;
    resize: none;
}

.send--btn{
	flex-grow: 1;
	text-align: center;
	line-height: 50px;
	border-radius: 3px;
	border: solid #ccc 1px;
	cursor: pointer;
	outline: none;
}
